@model MyWebApp.Models.StudentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Student</h1>

<h4>StudentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group visually-hidden">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalExperience" class="control-label"></label>
                <input asp-for="TechnicalExperience" class="form-control" />
                <span asp-validation-for="TechnicalExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousCourseCount" class="control-label"></label>
                <input asp-for="PreviousCourseCount" class="form-control" />
                <span asp-validation-for="PreviousCourseCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
